/* Containers */

.cards-container {
    padding: 3% 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    background-color: rgba(2, 2, 2, 0.992);
    height: 20%;
    color: rgb(59, 58, 58)
}


/* Text */

.loading-message {
    color: rgb(250, 250, 250);
    font-size: large;
    padding-left: 3%;
}


@media screen and (max-width: 802px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 543px) {
    .cards-container {
        padding: 6% 6%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}