/* Containers */

.cards-container {
    padding: 3% 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    background-color: rgba(2, 2, 2, 0.992);
    height: 20%;
    color: rgb(59, 58, 58)
}

.hero-image-container {
    background-image: url('https://images.hdqwalls.com/wallpapers/lucifer-season-4-poster-ka.jpg');
    background-size: cover;
    background-position: center;
    height: 70%;
    display: flex;
    padding-left: 3%;
    width: 100%;
  }

.form-container {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

/* Text */

.welcome-message {
    color: rgb(171, 20, 20);
    font: 4rem s;
    width: 40%;
    margin-top: 8%;
}

.loading-message{
    color: rgb(250, 250, 250);
    font-size: large;
    padding-left: 3%;
  }
  
  @media screen and (max-width: 802px ){
    .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .welcome-message {
        color: rgb(171, 20, 20);
        font: 4rem s;
        width: 40%;
        margin-top: 13%;
    }
  }

  @media screen and (max-width: 543px ){
    .cards-container{
        padding: 6% 6%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .welcome-message {
        color: rgb(171, 20, 20);
        font: 4rem s;
        width: 40%;
        margin-top: 15%;
    }
  }
  
  